In [25]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download("vader_lexicon")
import pandas as pd
data = pd.read_csv("Bioderma.csv")
print(data)

               nice
0         sunscreen
1            pricey
2              make
3              face
4             littl
..              ...
555      productdri
556           touch
557          textur
558  awesomedefinit
559             buy

[560 rows x 1 columns]

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [26]:
data.columns =['Review']
data

             Review
0         sunscreen
1            pricey
2              make
3              face
4             littl
..              ...
555      productdri
556           touch
557          textur
558  awesomedefinit
559             buy

[560 rows x 1 columns]

In [28]:
sentiments = SentimentIntensityAnalyzer()
data["Positive"] = [sentiments.polarity_scores(i)["pos"] for i in data["Review"]]
data["Negative"] = [sentiments.polarity_scores(i)["neg"] for i in data["Review"]]
data["Neutral"] = [sentiments.polarity_scores(i)["neu"] for i in data["Review"]]
data['Compound'] = [sentiments.polarity_scores(i)["compound"] for i in data["Review"]]
data

             Review  Positive  Negative  Neutral  Compound
0         sunscreen       0.0       0.0      1.0       0.0
1            pricey       0.0       0.0      1.0       0.0
2              make       0.0       0.0      1.0       0.0
3              face       0.0       0.0      1.0       0.0
4             littl       0.0       0.0      1.0       0.0
..              ...       ...       ...      ...       ...
555      productdri       0.0       0.0      1.0       0.0
556           touch       0.0       0.0      1.0       0.0
557          textur       0.0       0.0      1.0       0.0
558  awesomedefinit       0.0       0.0      1.0       0.0
559             buy       0.0       0.0      1.0       0.0

[560 rows x 5 columns]

In [31]:
score = data["Compound"].values
sentiment = []
for i in score:
    if i >= 0.05 :
        sentiment.append('Positive')
    elif i <= -0.05 :
        sentiment.append('Negative')
    else:
        sentiment.append('Neutral')
data["Sentiment"] = sentiment
data.head()

      Review  Positive  Negative  Neutral  Compound Sentiment
0  sunscreen       0.0       0.0      1.0       0.0   Neutral
1     pricey       0.0       0.0      1.0       0.0   Neutral
2       make       0.0       0.0      1.0       0.0   Neutral
3       face       0.0       0.0      1.0       0.0   Neutral
4      littl       0.0       0.0      1.0       0.0   Neutral

In [32]:
print(data["Sentiment"].value_counts())

Neutral     485
Positive     64
Negative     11
Name: Sentiment, dtype: int64